.register{
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(
        rgba(255,255,255,0.1),
        rgba(255,255,255,0.1)), 
        url("https://media.istockphoto.com/id/1278436436/photo/top-view-of-a-blue-desktop-with-copy-space.jpg?s=170667a&w=0&k=20&c=u80P07lXI6pS-wol4iNtxrgQciY05uqcnqnj5Q5TQcg=");
    background-size: cover;
    align-items: center;
}

.registerTitle{
    font-size: 50px;
}

.registerForm{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.registerForm > label{
    margin: 10px 0;
}

.registerInput{
    padding: 10px;
    background-color: white;
    border: none;
}

.registerButton{
    margin-top: 20px;
    cursor: pointer;
    background-color: teal;
    border: none;
    color: white;
    border-radius: 10px;
    padding: 10px;
}

.registerLoginButton{
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: lightcoral;
    cursor: pointer;
    border: none;
    padding: 10px;
    color: white;
    border-radius: 10px;
}